<h1>Login Here</h1>
<form action="/login" method="Post">
<label>User Name:</label>
<input type="text"  name="User name" required>
<label>Password:</label>
<input type="number"  name="passwordname" required>
<button>Login</button>
</form>
<h1>Hello Welcome To CIET Page. Wt do u want to do?</h1>
<li><a href="/register">Sign Up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>